body, html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-canvas {
  display: block;
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 300px;
  z-index: 100;
}